<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Ça veut dire quoi ?')}"></head>
<body class="container-fluid px-0">
    <div th:replace="~{fragments/header :: site-header}"></div>
    <div th:replace="~{fragments/login-modal :: login-modal}"></div>

    <div th:replace="~{fragments/cubo-preloader :: cubo-preloader}"></div>
    <div class="page-content">
        <div id="app"
             th:data-is-admin="${#authorization.expression('hasRole(''ADMIN'')')}">
        </div>
    </div>

    <div th:replace="~{fragments/footer :: site-footer}"></div>
    <div th:replace="~{fragments/layout :: scripts}"></div>
    <script type="module" src="/js/glossaire.js"></script>
</body>
</html>
